/*                     *\
   Author: DrummerHead 
\*                     */


/*  Baseline = = = = = = =
  */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
/* /Baseline */


/*  Modular constructs = = = = = = =
  */

/* /Modular constructs */
